* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  list-style: none;
  font-family: 'Libre Franklin', sans-serif;
}

.App {
  display: flex;
}

.app_right {
  margin-left: 250px;
  

}

.app_left {
  position: fixed;
  left: 0;
  top: 0;

  
}

a {
  text-decoration: none;
  color: black;
  cursor: ne-resize;
}

a:visited {
  text-decoration: none;
  color: black;
}